*{
  margin:0;
  padding: 0;
}
body{
  background:url(/images/PictureUnlock_glc_245523_user0.pictureunlock.jpg);
background-repeat:no-repeat;
background-size: cover;
background-position: center;
}
form{
  height:450px;
  margin: 10%;
  padding: 10%;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(50px);
  border:1px solid rgba(225, 225, 225, 0.18);
}

h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
  color:white;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.po p{
  position: relative;
  font-size:13px;
  color:blue;
  left:60%;
  top:-118px;
}

h3{
  position: absolute;
  font-size: 12.1px;
  right:43%;
  top:63%;
  color:white;
}

label{
  color:white;
}

label3{
  color:white;
  font-size:10px;
}

.text-form{
  color:white;
}

button{
  width: 100%;
}

.n{
  position: relative;
  display: flex;
  font-size:11px;
  top: -19px;
  left: 100px;
  color:#39A7FF;
}